In [1]:
using HTTP, DataFrames, JSON3, Dates

In [374]:
function assemble_url(base_url, data_type; countries = nothing, USstates = nothing)
    base = base_url * "vaccine/"
    if data_type == :trials
        url = base
    elseif data_type == :doses
        doses_url = base * "coverage/"
        
        if countries != nothing
            countries_url = doses_url * "countries/"
            countries == :all ? (url = countries_url) : (url = countries_url * string.(countries))
        
        elseif USstates!= nothing
            USstates_url = doses_url * "states/"
            USstates == :all ? (url = USstates_url) : (url = USstates_url * string.(USstates))
        else
            error("")
        end
        
    else
        error("")
    end
    
    return url
    
end

assemble_url (generic function with 1 method)

In [375]:
function assemble_df(get_data; all_data = true, order_by = :country, vaccine_timeline = :full)
   #order_by can be :state, :country
    
    if all_data
        
        if vaccine_timeline == :simple
            data = [Dict(order_by => j[string(order_by)], :date => date, :total_cases => cases) 
                for j in JSON3.read(get_data.body) for (date, cases) in j["timeline"]]   
        elseif vaccine_timeline == :full
            raw_df = vcat(DataFrame.(JSON3.read(get_data.body))...)
            timeline = vcat(DataFrame.(raw_df.timeline)...)
            data = hcat(select(raw_df, Not(:timeline)), timeline)    
        
        else 
            error("")
        end
        
    
    elseif data == false
                
        if vaccine_timeline == :simple
            raw_data = JSON3.read(get_data.body)
            dict = [Dict(:state => raw_data["state"], :date => date, :total_cases => cases) 
                     for (date, cases) in raw_data["timeline"]]
            data = DataFrame(dict)     
            
        elseif vaccine_timeline == :full
            raw_df = DataFrame(JSON3.read(get_data.body))
            data = hcat(select(raw_df, Not(:timeline)), DataFrame(raw_df.timeline))
        else
            error()
        end
                
    end
        
    return data
end

assemble_df (generic function with 1 method)

In [376]:
function opendisease_vaccines(data_type; countries = nothing, USstates = nothing, lastdays = nothing, vaccine_timeline = :simple)
    try    
        #vaccine_timeline can be :simple of :full
        base_url = "https://disease.sh/v3/covid-19/"
    
        if data_type == :trials
            url = assemble_url(base_url, data_type)
            get_data = HTTP.get(url)
        
            
        elseif data_type == :doses
            vaccine_timeline == :simple ? (fullData = false) : (fullData = true)
            params = Dict("lastdays" =>  lastdays, "fullData" => fullData)
            countries != nothing ? (order_by = :country) : (order_by = :state)
            (countries == :all || USstates == :all) ? (all_data = true) : (all_data = false)
            
            if countries != nothing
                if countries == :all
                    url = assemble_url(base_url, data_type, countries = countries)
                    get_data = HTTP.get(url, query = params)
                    data = assemble_df(get_data, all_data = all_data, order_by = order_by, vaccine_timeline = vaccine_timeline)
                    
                else 
                    arr_df = []
                    for country in countries
                        url = assemble_url(base_url, data_type, countries = countries[country])
                        get_data = HTTP.get(url, query = params)
                        df = assemble_df(get_data, all_data = all_data, order_by = order_by, vaccine_timeline = vaccine_timeline)
                        push!(arr_df, df)
                    end
                    data = vcat(arr_df...)
                    
                end
                                     
            elseif USstates != nothing 
                if USstates == :all
                    url = assemble_url(base_url, data_type, USstates = USstates)
                    get_data = HTTP.get(url, query = params)
                    data = assemble_df(get_data, all_data = all_data, order_by = order_by, vaccine_timeline = vaccine_timeline)  
                            
                else
                    arr_df = []
                    for state in USstates#1:length(USstates)
                        url = assemble_url(base_url, data_type, USstates = USstates[state])
                        get_data = HTTP.get(url, query = params)
                        df = assemble_df(get_data, all_data = all_data, order_by = order_by, vaccine_timeline = vaccine_timeline)
                        push!(arr_df, df)                        
                    end
                    data = vcat(arr_df...)
                end
                
            else
                error("'vaccine_timeline' must be one of :simple or :full")
            end
            
        
        else
            error("my")
        end
        
        return data
        
    catch e
        print(e)
        
    finally
    end
    
end

opendisease_vaccines (generic function with 1 method)

In [ ]:
# See opendiseas_vaccine_functions_and_examples

In [333]:
base_url = "https://disease.sh/v3/covid-19/"
url = assemble_url(base_url, :doses; USstates = :all)
lastdays = 3
vaccine_timeline = false
params = Dict("lastdays" => lastdays, "fullData" => vaccine_timeline)

Dict{String, Integer} with 2 entries:
  "lastdays" => 3
  "fullData" => false

In [334]:
get_data = HTTP.get(url, query = params);

In [337]:
raw_df = DataFrame.(JSON3.read(get_data.body))
vec_df = []

for i in 1:length(raw_df)
    timeline = copy(raw_df[i][!,:timeline][1])
    #length_df = length(raw_df[i][!,:timeline][1])
    data = collect(keys(timeline))
    total = collect(values(timeline))
    df = DataFrame(:data => data, :total => total)
    states = select(repeat!(raw_df[i], inner = length(timeline)), Not(:timeline))
    data = hcat(states, df)
    push!(vec_df, data)
end


data = vcat(vec_df...);
#dict = vcat(copy.(vec_df[1][!,:timeline])[1]...)

#timeline = copy(raw_df[1][!,:timeline][1])
#data = collect(keys(timeline))
#total = collect(values(timeline))
#DataFrame(:data => data, :total => total)

In [341]:
a = [Dict(:state => j["state"], :date => date, :total_cases => cases) 
    for j in JSON3.read(get_data.body) for (date, cases) in j["timeline"]]
DataFrame(a)

195Ã—3 DataFrame
 Row â”‚ state           date    total_cases
     â”‚ String          Symbol  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Alabama         1/1/22      5624234
   2 â”‚ Alabama         1/2/22      5624234
   3 â”‚ Alabama         1/3/22      5624234
   4 â”‚ Alaska          1/1/22      1024695
   5 â”‚ Alaska          1/2/22      1024695
   6 â”‚ Alaska          1/3/22      1024695
   7 â”‚ American Samoa  1/1/22        75819
   8 â”‚ American Samoa  1/2/22        75819
   9 â”‚ American Samoa  1/3/22        75819
  10 â”‚ Arizona         1/1/22     10491351
  11 â”‚ Arizona         1/2/22     10491351
  â‹®  â”‚       â‹®           â‹®          â‹®
 186 â”‚ Washington      1/3/22     12580215
 187 â”‚ West Virginia   1/1/22      2490508
 188 â”‚ West Virginia   1/2/22      2490508
 189 â”‚ West Virginia   1/3/22      2490508
 190 â”‚ Wisconsin       1/1/22      9114543
 191 â”‚ Wisconsin       1/2/22      9114543
 192 â”‚ Wisconsin       1/3/22      9114543
 193 â”‚ Wyoming         1/1/22       684672
 194 â”‚ Wyoming         1/2/22       684672
 195 â”‚ Wyoming         1/3/22       684672
                           174 rows omitted

In [339]:
hcat(vcat(raw_df...)

195Ã—2 DataFrame
 Row â”‚ state           timeline
     â”‚ String          Objectâ€¦
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Alabama         {\n   "1/1/22": 5624234,\n   "1/â€¦
   2 â”‚ Alabama         {\n   "1/1/22": 5624234,\n   "1/â€¦
   3 â”‚ Alabama         {\n   "1/1/22": 5624234,\n   "1/â€¦
   4 â”‚ Alaska          {\n   "1/1/22": 1024695,\n   "1/â€¦
   5 â”‚ Alaska          {\n   "1/1/22": 1024695,\n   "1/â€¦
   6 â”‚ Alaska          {\n   "1/1/22": 1024695,\n   "1/â€¦
   7 â”‚ American Samoa  {\n   "1/1/22": 75819,\n   "1/2/â€¦
   8 â”‚ American Samoa  {\n   "1/1/22": 75819,\n   "1/2/â€¦
   9 â”‚ American Samoa  {\n   "1/1/22": 75819,\n   "1/2/â€¦
  10 â”‚ Arizona         {\n   "1/1/22": 10491351,\n   "1â€¦
  11 â”‚ Arizona         {\n   "1/1/22": 10491351,\n   "1â€¦
  â‹®  â”‚       â‹®                         â‹®
 186 â”‚ Washington      {\n   "1/1/22": 12580215,\n   "1â€¦
 187 â”‚ West Virginia   {\n   "1/1/22": 2490508,\n   "1/â€¦
 188 â”‚ West Virginia   {\n   "1/1/22": 2490508,\n   "1/â€¦
 189 â”‚ West Virginia   {\n   "1/1/22": 2490508,\n   "1/â€¦
 190 â”‚ Wisconsin       {\n   "1/1/22": 9114543,\n   "1/â€¦
 191 â”‚ Wisconsin       {\n   "1/1/22": 9114543,\n   "1/â€¦
 192 â”‚ Wisconsin       {\n   "1/1/22": 9114543,\n   "1/â€¦
 193 â”‚ Wyoming         {\n   "1/1/22": 684672,\n   "1/2â€¦
 194 â”‚ Wyoming         {\n   "1/1/22": 684672,\n   "1/2â€¦
 195 â”‚ Wyoming         {\n   "1/1/22": 684672,\n   "1/2â€¦
                                         174 rows omitted

In [236]:
base_url = "https://disease.sh/v3/covid-19/"
url = assemble_url(base_url, :doses; USstates = :all)
lastdays = 3
vaccine_timeline = true
params = Dict("lastdays" => lastdays, "fullData" => vaccine_timeline)

Dict{String, Integer} with 2 entries:
  "lastdays" => 3
  "fullData" => true

In [245]:
get_data = HTTP.get(url, query = params)
df = vcat(DataFrame.(JSON3.read(get_data.body))...)
timeline =  vcat(DataFrame.(df[:, :timeline])...)
data = hcat(select(df, Not(:timeline)), timeline);
#rename(data, :x1 => :timeline)

In [ ]:
states
    zip(states, df_vector)

In [264]:
USstates = [:illinois, :texas]
data_type = :doses
lastdays = 3
vaccine_timeline = true
params = Dict("lastdays" => lastdays, "fullData" => vaccine_timeline)
url = assemble_url(base_url, data_type; USstates = USstates[1])
get_data = HTTP.get(url, query = params)

raw_df = DataFrame(JSON3.read(get_data.body))
timeline = DataFrame(raw_df.timeline)
df = hcat(select(raw_df, Not(:timeline)), timeline)

#state = select(repeat(raw_df, inner = length(raw_df.state)), Not(:timeline))

3Ã—6 DataFrame
 Row â”‚ state     daily  dailyPerMillion  totalPerHundred  date      total
     â”‚ String    Int64  Int64            Int64            String    Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Illinois      0                0                0  12/31/21  19742882
   2 â”‚ Illinois      0                0                0  1/1/22    19742882
   3 â”‚ Illinois      0                0                0  1/2/22    19742882

In [349]:
USstates = [:illinois, :texas]
data_type = :doses
lastdays = 3
vaccine_timeline = false
params = Dict("lastdays" => lastdays, "fullData" => vaccine_timeline)
url = assemble_url(base_url, data_type; USstates = USstates[1])
get_data = HTTP.get(url, query = params)

raw_df = DataFrame(JSON3.read(get_data.body))
raw_timeline = copy(raw_df.timeline[1])
date = collect(keys(raw_timeline))
total = collect(values(raw_timeline))
timeline = DataFrame(:date => date, :total => total)
state = select(repeat(raw_df, inner = length(raw_df.state)), Not(:timeline))
#df = hcat(state, timeline)
#timeline = (raw_df.timeline)
#df = hcat(select(raw_df, Not(:timeline)), timeline)

1Ã—1 DataFrame
 Row â”‚ state
     â”‚ String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Illinois

In [361]:
USstates = [:illinois, :texas]
data_type = :doses
lastdays = 3
vaccine_timeline = true
params = Dict("lastdays" => lastdays, "fullData" => vaccine_timeline)
url = assemble_url(base_url, data_type; USstates = USstates[1])
get_data = HTTP.get(url, query = params)

raw_df = DataFrame(JSON3.read(get_data.body))
data = hcat(select(raw_df, Not(:timeline)), DataFrame(raw_df.timeline))

#timeline = DataFrame(raw_df.timeline)
#df = hcat(state, timeline)
#timeline = (raw_df.timeline)
#df = hcat(select(raw_df, Not(:timeline)), timeline)

3Ã—6 DataFrame
 Row â”‚ state     daily  dailyPerMillion  totalPerHundred  date    total
     â”‚ String    Int64  Int64            Int64            String  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Illinois      0                0                0  1/1/22  19742882
   2 â”‚ Illinois      0                0                0  1/2/22  19742882
   3 â”‚ Illinois      0                0                0  1/3/22  19742882

In [351]:
raw_df

1Ã—2 DataFrame
 Row â”‚ state     timeline
     â”‚ String    Objectâ€¦
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Illinois  {\n   "1/1/22": 19742882,\n   "1â€¦

In [352]:
raw_data = JSON3.read(get_data.body)
a = [Dict(:state => raw_data["state"], :date => date, :total_cases => cases) 
     for (date, cases) in raw_data["timeline"]]
DataFrame(a)

3Ã—3 DataFrame
 Row â”‚ state     date    total_cases
     â”‚ String    Symbol  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Illinois  1/1/22     19742882
   2 â”‚ Illinois  1/2/22     19742882
   3 â”‚ Illinois  1/3/22     19742882

## Countries != nothing

In [328]:
base_url = "https://disease.sh/v3/covid-19/"
url = assemble_url(base_url, :doses; USstates = :all)
lastdays = 3
vaccine_timeline = true
params = Dict("lastdays" => lastdays, "fullData" => vaccine_timeline)
url = assemble_url(base_url, data_type; countries = :all)
get_data = HTTP.get(url, query = params)

raw_df = vcat(DataFrame.(JSON3.read(get_data.body))...)
timeline = vcat(DataFrame.(raw_df.timeline)...)
df = hcat(select(raw_df, Not(:timeline)), timeline)

651Ã—6 DataFrame
 Row â”‚ country            daily  dailyPerMillion  date    total      totalPerH â‹¯
     â”‚ String             Int64  Int64            String  Int64      Int64     â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Afghanistan            0                0  1/1/22    5228706            â‹¯
   2 â”‚ Afghanistan            0                0  1/2/22    5228706
   3 â”‚ Afghanistan            0                0  1/3/22    5228706
   4 â”‚ Albania                0                0  1/1/22    2316606
   5 â”‚ Albania                0                0  1/2/22    2316606            â‹¯
   6 â”‚ Albania                0                0  1/3/22    2316606
   7 â”‚ Algeria                0                0  1/1/22   12545356
   8 â”‚ Algeria                0                0  1/2/22   12545356
   9 â”‚ Algeria                0                0  1/3/22   12545356            â‹¯
  10 â”‚ Andorra                0                0  1/1/22     115709
  11 â”‚ Andorra                0                0  1/2/22     115709
  â‹®  â”‚         â‹®            â‹®           â‹®           â‹®         â‹®             â‹®  â‹±
 642 â”‚ Wallis and Futuna      0                0  1/3/22      11939
 643 â”‚ Yemen                  0                0  1/1/22     786027            â‹¯
 644 â”‚ Yemen                  0                0  1/2/22     786027
 645 â”‚ Yemen                  0                0  1/3/22     786027
 646 â”‚ Zambia                 0                0  1/1/22    1730165
 647 â”‚ Zambia                 0                0  1/2/22    1730165            â‹¯
 648 â”‚ Zambia                 0                0  1/3/22    1730165
 649 â”‚ Zimbabwe            8788              582  1/1/22    7270566
 650 â”‚ Zimbabwe            8932              592  1/2/22    7277161
 651 â”‚ Zimbabwe               0                0  1/3/22    7277161            â‹¯
                                                   1 column and 630 rows omitted

In [344]:
base_url = "https://disease.sh/v3/covid-19/"
url = assemble_url(base_url, :doses; USstates = :all)
lastdays = 3
vaccine_timeline = false
params = Dict("lastdays" => lastdays, "fullData" => vaccine_timeline)
url = assemble_url(base_url, data_type; countries = :all)
get_data = HTTP.get(url, query = params)


raw_df = DataFrame.(JSON3.read(get_data.body))
                       
arr_df = []
for i in 1:length(raw_df)
    raw_timeline = copy(raw_df[i][!,:timeline][1])
    date = collect(keys(raw_timeline))
    total = collect(values(raw_timeline))
    timeline = DataFrame(:date => date, :total => total)
    states = select(repeat!(raw_df[i], inner = length(raw_timeline)), Not(:timeline))
    df = hcat(states, timeline)
    push!(arr_df, df)
end
data = vcat(arr_df...);

In [346]:
data = [Dict(:country => j["country"], :date => date, :total_cases => cases) 
    for j in JSON3.read(get_data.body) for (date, cases) in j["timeline"]]

651-element Vector{Dict{Symbol, Any}}:
 Dict(:country => "Afghanistan", :date => Symbol("1/1/22"), :total_cases => 5228706)
 Dict(:country => "Afghanistan", :date => Symbol("1/2/22"), :total_cases => 5228706)
 Dict(:country => "Afghanistan", :date => Symbol("1/3/22"), :total_cases => 5228706)
 Dict(:country => "Albania", :date => Symbol("1/1/22"), :total_cases => 2316606)
 Dict(:country => "Albania", :date => Symbol("1/2/22"), :total_cases => 2316606)
 Dict(:country => "Albania", :date => Symbol("1/3/22"), :total_cases => 2316606)
 Dict(:country => "Algeria", :date => Symbol("1/1/22"), :total_cases => 12545356)
 Dict(:country => "Algeria", :date => Symbol("1/2/22"), :total_cases => 12545356)
 Dict(:country => "Algeria", :date => Symbol("1/3/22"), :total_cases => 12545356)
 Dict(:country => "Andorra", :date => Symbol("1/1/22"), :total_cases => 115709)
 Dict(:country => "Andorra", :date => Symbol("1/2/22"), :total_cases => 115709)
 Dict(:country => "Andorra", :date => Symbol("1/3/22"), :total_cases => 115709)
 Dict(:country => "Angola", :date => Symbol("1/1/22"), :total_cases => 11615144)
 â‹®
 Dict(:country => "Wallis and Futuna", :date => Symbol("1/1/22"), :total_cases => 11939)
 Dict(:country => "Wallis and Futuna", :date => Symbol("1/2/22"), :total_cases => 11939)
 Dict(:country => "Wallis and Futuna", :date => Symbol("1/3/22"), :total_cases => 11939)
 Dict(:country => "Yemen", :date => Symbol("1/1/22"), :total_cases => 786027)
 Dict(:country => "Yemen", :date => Symbol("1/2/22"), :total_cases => 786027)
 Dict(:country => "Yemen", :date => Symbol("1/3/22"), :total_cases => 786027)
 Dict(:country => "Zambia", :date => Symbol("1/1/22"), :total_cases => 1730165)
 Dict(:country => "Zambia", :date => Symbol("1/2/22"), :total_cases => 1730165)
 Dict(:country => "Zambia", :date => Symbol("1/3/22"), :total_cases => 1730165)
 Dict(:country => "Zimbabwe", :date => Symbol("1/1/22"), :total_cases => 7270566)
 Dict(:country => "Zimbabwe", :date => Symbol("1/2/22"), :total_cases => 7277161)
 Dict(:country => "Zimbabwe", :date => Symbol("1/3/22"), :total_cases => 7277161)

In [305]:
arr_df

Any[]

In [308]:
raw_timeline = copy(raw_df[1][!,:timeline][1])
length(raw_timeline)

3